.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 10rem;
}

.carouselContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.gridcontainer {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), 1fr));
  gap: 20px;
  flex-grow: 1;
}
