.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 10rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--secondary-text);
  border-radius: 50px;
  padding: 5px 20px;
  cursor: text;
  gap: 5px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--secondary-text);
}

.search input::placeholder {
  color: var(--primary-text);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.gridcontainer {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(20% - 20px), 1fr)
  ); /* Each item takes 20% of the container minus 20px for gap */
  gap: 20px; /* Adjust the gap between grid items as needed */
}
