.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 11rem;
}

.linksContainerStyle {
  display: flex;
  gap: 10px;
}

.linkStyle {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.activeLink {
  color: white;
}
