.mainDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDetailsTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  font-size: smaller;
}

.headerDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster {
  border-radius: 5%;
}

.release_date {
  font-weight: 200;
  font-size: smaller;
}

.cardContainer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 5%;
}

.cardContainer {
  /* width: 100%; */
  padding: 1rem;
}
